{{#each}}
  <div class="card">
    <span class="nameOfUser">{{}}</span>\
    <img src="" alt="" class="avatar">
    <div class="achievements">
      {{#each}}
      <div class="achievement"></div>
      {{/each}}
    </div>
  </div>
{{/each}}
