<header>
  <div class='leftSideOfHeader'>
    <a class='logo' href='/'>Spasibus</a>
    <span>Замечательные люди среди нас,<br />напомните им об этом!</span>
  </div>
  <div class='rightSideOfHeader'>
    <div class='filterBtns'>
      <button class='filterbtn'>За неделю</button>
      <button class='filterbtn'>За месяц</button>
      <button class='filterbtn'>За год</button>
    </div>
    {{#if login}}
      <a class='headersItems' href='/account'>Личный кабинет</a>
      <a class='headersItems' href='/user/logout'>Выйти</a>
    {{else}}
      <a class='headersItems' href='/user/login'>Войти</a>
      <a class='headersItems' href='/user/signup'>Зарегистрироваться</a>
    {{/if}}
  </div>
</header>