<script defer src='/js/header.js'></script>
<header>
  <div class='leftSideOfHeader'>
    <a class='logo' href='/'>Спасибус</a>
    <span class='slogan'>Замечательные люди среди нас,<br />напомните им об
      этом!</span>
  </div>
  <div class='rightSideOfHeader'>

    {{#if userId}}
      {{#if hasAvatar}}{{else}}
        <form
          ref='uploadForm'
          id='addAvatarForm'
          action='/user/addAvatar'
          method='post'
          encType='multipart/form-data'
        >
          <input class='addAvatarBtn' type='file' name='sampleFile' />
          <input class='addAvatarBtn' type='submit' value='Добавить аватарку' />
        </form>
      {{/if}}
      <a class='headersItems' href='/newThank'>Сказать спасибо</a>
      <a class='headersItems' href='/user/logout'>Выйти</a>
    {{else}}
      <a class='headersItems' href='/user/login'>Войти</a>
      <a class='headersItems' href='/user/signup'>Зарегистрироваться</a>
    {{/if}}
  </div>
</header>