<script defer src='/js/index.js'></script>

<div class='filterBtns'>
  <a class='filterBtn' href='' data-period='7'>За неделю</a>
  <a class='filterBtn' href='' data-period='31'>За месяц</a>
  <a class='filterBtn' href='' data-period='365'>За год</a>
</div>
<div class='cards'>
  {{> cardsOfUserHbs}}
</div>