<script defer src='/js/login.js'></script>
<body>
  <div class='container'>
    <h2>Вход</h2>
    <form id='loginForm'>
      <input
        id='emailInput'
        name='email'
        type='email'
        class='input'
        id='inputEmail'
        placeholder='Email'
      />
      <br />
      <br />
      <input
        id='passwordInput'
        name='password'
        type='password'
        class='input'
        id='inputPassword'
        placeholder='Пароль'
      />
      <br />
      <br />
      <input id='loginBtn' type='submit' value='Войти' class='btn' />
    </form>
  </div>
</body>