<script defer src='/js/signUp.js'></script>
<body>
  <div class='container'>
    <h2>Регистрация</h2>
    <form id='signUpForm'>
      <input
        id='emailInput'
        name='email'
        type='email'
        class='input'
        id='inputEmail'
        placeholder='Email'
      />
      <br />
      <br />
      <input
        id='firstNameInput'
        name='firstName'
        type='text'
        class='input'
        id='inputFirstName'
        placeholder='Имя'
      />
      <input
        id='lastNameInput'
        name='lastName'
        type='text'
        class='input'
        id='inputLastName'
        placeholder='Фамилия'
      />
      <br />
      <br />
      <input
        id='passwordInput'
        name='password'
        type='password'
        class='input'
        id='inputPassword'
        placeholder='Пароль'
      />
      <br />
      <br />
      <input
        id='passwordInput2'
        name='password2'
        type='password'
        class='input'
        id='inputPassword2'
        placeholder='Повторите пароль'
      />
      <br />
      <br />
      <input
        id='singUpBtn'
        type='submit'
        value='Зарегистрироваться'
        class='btn'
      />
    </form>
  </div>
</body>